.container {
  margin-left:10%;
  margin-right:10%;
  border: 1px solid black;
  width:78vw;
}

.container-title {
  margin-left:10%;
  margin-top:5%;
  margin-bottom:2%;
}

.empty-container {
  margin-bottom:10%;
  margin-left:10%;
  margin-right:10%;
  border:1px solid black;
  height:70vh;
  width:78vw;
}

.text {
  margin-left:5px;
  margin-right:5px;
}
