.container {
  margin-top:10%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:10%;
  border: 1px solid black;
}

.empty-container {
  margin-bottom:10%;
  margin-left:5%;
  margin-right:5%;
  margin-top:10%;
  border:1px solid black;
  height:70vh;
  width:80vw;
}
